body, html{
    font-family: 'Raleway', serif;
    /*padding-top: 80px;*/
}

body{
    background: url(images/bg.jpg) repeat-x;
    margin-top:0px; 
    /*background-color:#ffffff;*/
}

*{
    font-family: 'Raleway', serif;
}

.container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: capitalize;
    font-family: 'Raleway', serif;
}


h1,
h2,
h3,
h4,
h5 {
    font-weight: inherit;
}

.title-bar a{
    color: #ffffff;
}

.title-bar{
    background-color: #F78930;
    color: #ffffff;
}

/*--footer--*/
.copy {
    
    padding: 2em 0;
    text-align: center;
    color: #fff
}
.copy p {
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}
.copy p a {
    color: #fff;
}
.copy p a:hover {
    color: #999;
}
/*--/footer--*/
#toTopHover {
    width: 32px;
    height: 32px;
    display: block;
    overflow: hidden;
    float: right;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
}
#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 20px;
    right: 2%;
    overflow: hidden;
    z-index: 999;
    width: 32px;
    height: 32px;
    border: none;
    text-indent: 100%;
    background: url("../img/arrow.png") no-repeat 0px 0px;
}


.ourproducts img{
    border-radius: 20px;
}



.timeline-container {
    padding: 30px 0;
}



.timeline {
    list-style: none;
    position: relative;
    max-width: 1200px;
    padding: 20px;
    margin: 0 auto;
    overflow: hidden;
}

.timeline:after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -2px;
    background-color: #52947e;
    height: 100%;
    width: 4px;
    border-radius: 2px;
    display: block;
}

.timeline .timeline-row {
    padding-left: 50%;
    position: relative;
    z-index: 10;
}

.timeline .timeline-row .timeline-time {
    position: absolute;
    right: 50%;
    top: 10px;
    text-align: right;
    margin-right: 40px;
    font-size: 16px;
    line-height: 1.3;
    font-weight: 600;
    color:#999;
}

.timeline .timeline-row .timeline-time small {
    display: block;
    color: #ffffff;
    text-transform: uppercase;
    opacity: 0.75;
    font-size: 11px;
    font-weight: 400;
}

.timeline .timeline-row .timeline-icon {
    position: absolute;
    top: 7px;
    left: 50%;
    margin-left: -20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 3px;
    color: #ffffff;
    font-size: 14px;
    z-index: 100;
}

.timeline .timeline-row .timeline-icon > div {
    border-radius: 50%;
    line-height: 34px;
    font-size: 16px;
}

.timeline .timeline-row .timeline-content {
    margin-left: 40px;
    position: relative;
    background: rgba(255,255,255,0.05);
    border-color: rgba(255,255,255,0.1);
    color: #ffffff;
}
.timeline .timeline-row .timeline-content b {

    color: #ffffff;
}

.timeline .timeline-row .timeline-content:after {
    content: "";
    position: absolute;
    top: 26px;
    left: -41px;
    height: 4px;
    width: 40px;
    background-color: #52947e;
    z-index: -1;
}
.timeline .timeline-row .timeline-content .panel {

}
.timeline .timeline-row .timeline-content .panel-body {
    padding: 10px 15px 10px;
    position: relative;
    z-index: 10;

}

.timeline .timeline-row .timeline-content h4 {
    font-size: 15px;
    margin-bottom: 6px;
    margin-top: 0;
    line-height: 1.5;
    font-family: "Droid Serif", Georgia, "Times New Roman", Times, serif;
    text-transform: none;

}

.timeline .timeline-row .timeline-content p {
    font-size: 15px;
    color: #000000;
    margin-bottom: 0;
}

.timeline .timeline-row .timeline-content img {
    margin-bottom: 15px;
}

.timeline .timeline-row .timeline-content blockquote {
    border-color: #eeeeee;
}

.timeline .timeline-row .timeline-content blockquote footer,
.timeline .timeline-row .timeline-content blockquote small,
.timeline .timeline-row .timeline-content blockquote .small,
.timeline .timeline-row .timeline-content blockquote.blockquote-reverse footer,
.timeline .timeline-row .timeline-content blockquote.blockquote-reverse small,
.timeline .timeline-row .timeline-content blockquote.blockquote-reverse .small {
    color: #999999;
}

.timeline .timeline-row .timeline-content .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    margin-bottom: 15px;
    overflow: hidden;
}

.timeline .timeline-row .timeline-content .video-container iframe,
.timeline .timeline-row .timeline-content .video-container object,
.timeline .timeline-row .timeline-content .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.timeline .timeline-row:nth-child(odd) {
    padding-left: 0;
    padding-right: 50%;
}

.timeline .timeline-row:nth-child(odd) .timeline-time {
    right: auto;
    left: 50%;
    text-align: left;
    margin-right: 0;
    margin-left: 40px;
}

.timeline .timeline-row:nth-child(odd) .timeline-content {
    margin-right: 40px;
    margin-left: 0;
}

.timeline .timeline-row:nth-child(odd) .timeline-content:after {
    left: auto;
    right: -41px;
}

.timeline.animated .timeline-row .timeline-content {
    left: 0px;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    transition: all 0.8s;
}

.timeline.animated .timeline-row:nth-child(odd) .timeline-content {
    left: 0;
}

.timeline .bg-ski {
    background: #aa73f6
}

.timeline .bg-kno {
    background: #f6cf73
}

.timeline .bg-exp {
    background: #77dadb
}

/*more stylings under timeline*/
@media (max-width: 1200px) {
    .timeline-container {
        text-align: left;
        padding: 20px;
    }
    .timeline {
        padding: 15px 10px;
    }
    .timeline:after {
        left: 28px;
    }
    .timeline .timeline-row {
        padding-left: 0;
        margin-bottom: 16px;
    }
    .timeline .timeline-row .timeline-time {
        position: relative;
        right: auto;
        top: 0;
        text-align: left;
        margin: 0 0 6px 56px;
    }
    .timeline .timeline-row .timeline-time small {
        display: inline-block; margin-right: 8px;

    }
    .timeline .timeline-row .timeline-time strong {
        display: inline-block;
        margin-right: 10px;
    }
    .timeline .timeline-row .timeline-icon {
        top: 35px;
        left: -2px;
        margin-left: 0;
    }
    .timeline .timeline-row .timeline-content {
        margin-left: 56px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        position: relative;
    }
    .timeline .timeline-row .timeline-content:after {
        right: auto !important;
        left: -20px !important;
        top: 26px;
        width: 19px;
    }
    .timeline .timeline-row:nth-child(odd) {
        padding-right: 0;
    }
    .timeline .timeline-row:nth-child(odd) .timeline-time {
        position: relative;
        right: auto;
        left: auto;
        top: 0;
        text-align: left;
        margin: 0 0 6px 56px;
    }
    .timeline .timeline-row:nth-child(odd) .timeline-content {
        margin-right: 0;
        margin-left: 55px;
    }
    .timeline.animated .timeline-row:nth-child(odd) .timeline-content {
        left: 0;
    }
}

/*blockquote*/
@charset "UTF-8";

.blockquote-container.blockquote-left {
    float: left;
    width: 35%;
    margin-right: 1rem;
}

@media screen and (max-width: 39.9375em) {
    .blockquote-container.blockquote-left {
        float: none;
        margin: 0;
        width: 100%;
    }
}

.blockquote-container.blockquote-right {
    float: right;
    width: 35%;
    margin-left: 1rem;
}

.blockquote-container .callout .blockquote-title {
    margin-left: 1rem;
}

.blockquote-container .callout blockquote {
    quotes: "“" "”" "‘" "’  ";
    border-left: none;
}

.blockquote-container .callout blockquote:before {
    content: open-quote;
    color: #8a8a8a;
    font-size: 4em;
    line-height: 0.1em;
    vertical-align: -0.4em;
}

.blockquote-container .callout blockquote:after {
    content: close-quote;
    color: #8a8a8a;
    font-size: 4em;
    line-height: 0.1em;
    vertical-align: -0.6em;
}

.blockquote-container .callout blockquote .blockquote-content {
    display: inline;
    color: #0a0a0a;
}

/*contact*/
    .contact-container {
        background: #FFDB99 no-repeat bottom center;
        background-size: cover;
        min-height: calc(100vh - 49px);
        position: relative;
    }
    .contact-wrapper {
        display: table;
        width: 100%;
        height: 300px;
        min-height: 400px;
        position: relative;
        z-index: 500;
    }
    .contact-wrapper-inner {
        display: table-cell;
        vertical-align: middle;
    }

    .typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
.transparent {
    opacity: 0;
}

.map iframe {
  border: none;
  width: 100%;
  height: 328px;
}